.footer {
    padding-top: 47px;
    padding-bottom: 31px;
    background: #313030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
}

.footer__box {
    display: flex;
    gap: 18px;
}

.footer__icon {
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.footer__icon:hover {
    background-color: #FF2D2D;
}

path {
    transition: fill .3s;
}

.footer__icon:hover path {
    fill: white;
}