.get {
    padding-top: 100px;
    padding-bottom: 107px;
    padding-left: calc(50% - 1250px / 2);
}

.get__form {
    width: 734px;
    display: grid;
    grid-row-gap: 43px;
    grid-column-gap: 52px;
    grid-template-columns: repeat(2, 1fr);
}

.get__text {
    width: 750px;
    padding-bottom: 58px;
}

.get__input {
    height: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
}

.get__input_textarea {
    height: 252px;
    padding-top: 32px;
    padding-bottom: 32px;
    resize: none;
    grid-column: 1 / -1;
}

.get__content {
    display: flex;
    padding-top: 74px;
    gap: 104px;
    flex-wrap: wrap;
}

.get__contacts {
    background: #2D2D2D;
    padding-left: 81px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.get__button {
    background: #FF3B3B;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    height: 75px;
    grid-column: 1 / -1;
    border: 2px solid transparent;
    transition: all 1s;
}

.get__button:hover {
    color: #FF2D2D;
    background-color: rgba(245,45,45,.5);
    
}

.get__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.get__contacts-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    width: 315px;
}

.crutch {
    display: none;
}