@media (max-width: 800px) {
    .head {
        padding-top: 10px;
        position: relative;
    }

    .menu {
        flex-direction: column;
    }

    .nav {
        background-color: black;
        position: absolute;
        top: 0;
        left: -100%;
        transition: left .5s;
    }

    .header {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        height: 2em;
        align-items: center;
    }

    .fa-solid {
        padding-left: 3px;
        padding-right: 3px;
        width: 26px;
        height: 30px;
        border-radius: 5px;
        background: #FF2D2D;
        display: initial;
        box-shadow: -2px 2px 4px;
    }

    .close__icon {
        display: initial;
        width: 37px;
        padding-left: 68%;
    }

    .menu_item_active {
        background-color: black;
    }
    
    .center, .get {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top__section {
        margin-top: 10px;
    }

    .title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .text__content {
        font-size: 14px;
        line-height: 24px;
    }

    .top__text {
        width: 100%;
    }

    .preview__section {
        align-items: center;
    }

    .top__video {
        height: 200px;
    }

    .heading {
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .service__content {
        width: 100%;
        align-items: center;
    }

    .products__links {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .products__link {
        font-size: 20px;
        line-height: 22px;
    }
    
    .line {
        margin: auto;
    }

    .meet__links {
        justify-content: center;
    }

    .meet__top {
        text-align: center;
    }

    .meet__person {
        max-height: 460px;
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .meet__content {
        flex-direction: column;
        align-items: center;
    }

    .meet__info {
        text-align: center;
    }

    .meet__text {
        margin: 34px auto 0;
    }

    .meet__people {
        margin: auto;
    }

    .subscribe {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .subscribe__form {
        flex-direction: column;
    }

    .subscribe__input, .subscribe__button {
        width: 100%;
        height: 62px;
    }

    .get__form {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
    }
    
    .get__contacts {
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }


}